body{
    font-family: Arial, sans-serif;
    zoom: 70%;
}

nav{
    width: 100%;
    height: 60px;
    background: #344051;
    position: fixed;
}

.logo{
    color: #fff;
    font-size: 28px;
    line-height: 60px;
    padding-left: 388px;
    float: left;
    -webkit-animation: comming 3.5s;
    -o-animation: comming 3.5s;
    animation: comming 3.5s;
}

.menu{
    float: left;
    padding-left: 432px;
}

.menu li{
    float: left;
    line-height: 60px;
    color: #fff;
    margin-right: 40px;
    font-size: 16px;
    text-transform: uppercase;
    transition: all 0.1s;
    transform: scale(1);
    opacity: 0;
    -webkit-animation: topshift 0.4s forwards;
    -o-animation: topshift 0.4s forwards;
    animation: topshift 0.4s forwards;
}

.menu li a{
    transition: all 0.5s;
    display: inline-block;
}

.menu li a:visited{
    color: white;
}

.menu li a:hover{
    color: orange;
}

.menu li a:active{
    transform: scale(1.1);
}

.main{
    width: 100%;
    background: url(../img/boy.png) 90% 100%/auto 85% no-repeat, url(../img/bg.jpg) center/cover no-repeat;
    height: 100%;
}

.title__container{
    float: left;
    margin: 432px 0px 0px 404px;
    color: #2c384a;
    text-align: center;
    -webkit-animation: titlemove 1.2s ease-out;
    -o-animation: titlemove 1s;
    animation: titlemove 1s;
}

.title__container h1{
    font-size: 60px;
    font-weight: bold;
}
.title__container h4{
    margin-top: 40px;
    font-size: 22px;
    color: #79818d;
}

.title__container input{
    height: 40px;
    text-align: center;
    border: 2px solid #6d7682;
    background: none;
    border-radius: 5px;
    color: #6d7682;
    font-size: 13px;
    padding: 0px 16px;
    margin: 50px 14px 0px 14px;
    transition: all 0.2s;
}

.title__container input:hover{
    background: #344051;
    color: white;
}

.title__container input:active{
    transform: scale(1.1);
}

.AboutMe{
    height: 650px;   
}

.AboutMeTitle h2{
    text-align: center;
    margin-top: 109px;
    color: #263244;
    font-size: 23px;
    font-weight: bold;
}

hr{
    background-color: #d17700;
    height: 4px;
    width: 70px;
    margin: 34px auto 0px auto;
    -webkit-animation: comming 3.5s;
    -o-animation: comming 3.5s;
    animation: comming 3.5s;
}

.myPhotoMini{
   margin-top: 60px;
    
}


.DescAboutMe{
    text-align: center;
    color: #3f495a;
    margin-top: 28px;
}


.AboutMe input{
    background:url('../img/iconResum.png') no-repeat left 10px center;
    padding-left: 31px;
    padding-right: 16px;
    border: 3px solid #6d7682;
    border-radius: 5px;
    line-height: 31px;
    margin-top: 38px;
    font-size: 15px;
    color: #6f707e;
    transition: all 0.3s;
}

.AboutMe input:hover{
    background-color: #6d7682;
    color: white;
}

.AboutMe input:active{
    transform: scale(1.1);
}

.mySkills{
    height: 523px;
    background: url(../img/bgSkills.png);
    text-align: center;
    font-weight: bold;
    background-attachment: fixed;
}

.mySkillsTitle{
    text-align: center;
    color: #263244;
    font-size: 23px;
    padding-top: 105px;
}

.mySkillsTitle h2{
    font-weight: bold;
    font-size: 23px;
}

.mySkillsList ul{
    margin-top: 110px;
    margin-left: 210px ;
}

.mySkillsList li{
    float: left;
    text-align: center;
    font-size: 10px;
    padding-left: 200px;
    width: 350px;
}

.mySkillsList h4{
    font-size: 15px;
    margin: 39px 0px 20px 0px;
    font-weight: bold;
    color: #cf7600;
}

.mySkillsList p{
    color: #3f495a;
    text-align: center;
}

.Case{
    height: 1050px;
    background-color: #ffffff;
}

.Case h2{
    text-align: center;
    margin-top: 109px;
    color: #263244;
    font-weight: bold;
    font-size: 23px;
}

.descCase{
    margin-top: 40px;
    text-align: center;
    color: #3f495a;
}

.CasePhotos{
    text-align: center;
}

.Price{
    margin-top: 135px;
    text-align: center;
    margin-bottom: 107px;
}

.Price h2{
    text-align: center;
    font-size: 23px;
    font-weight: bold;
    margin-bottom: 45px;
}

select{
    font-size: 16px;
    line-height: 50px;
    border: 2px solid #6d7682;
    background: none;
    color: #6d7682;
    width: 890px;
    margin-bottom: 42px;
    height: 54px;
}


.Price h3{
    margin-bottom: 25px;
    text-justify: left;
    font-weight: bold;
    font-size: 23px;
    text-align: left;
    padding-left: 575px;
}

.Price hr{
    margin: 34px auto 0px auto;
    background-color: #d1d1d1;
    height: 3px;
    width: 893px;
}

.Price p{
    height: 10px;
    font-weight: bold;
    text-align: left;
    padding-left: 575px;
}

.Stats{
    height: 498px;
    width: 100%;
    background: url(../img/StatsBG.png);
    background-attachment: fixed;
}

.titleStats{
    text-align: center;
    font-weight: bold;
    font-size: 23px;
    padding-top: 102px;
}

.Stats h2{
    text-align: center;
    font-size: 23px;
    font-weight: bold;
    margin-bottom: 45px;
}

.Stats ul{
    margin-top: 110px;
    margin-left: 210px ;
}

.Stats li{
    float: left;
    text-align: center;
    font-size: 10px;
    padding-left: 200px;
    width: 350px;
}

.Stats h3{
    margin-top: 40px;
    font-weight: bold;
    font-size: 26px;
    margin-bottom: 32px;
    font-size: 13px;
    text-transform: uppercase;
    text-align: center;
}

.Rewiews{
    height: 593px;
    background: url(../img/bgRewiews.png);
}

.titleRewiews h2{
    text-align: center;
    font-size: 23px;
    font-weight: bold;
    margin-bottom: 45px;
    margin-top: 103px;
}

.pictRewiews{
    text-align: center;
    margin-top: 55px;
    margin-bottom: 34px;
}

.descRewiews{
    text-align: center;
}

.authorRewiews{
    text-align: center;
    margin-top: 39px;
}

.DiffrentRewiews ul{
    margin-left: 972px;
}

.DiffrentRewiews li{
    float: left;
    text-align: center;
    margin-left: 13px;
    margin-top: 50px;
}

.myContacts{
    height: 807px;
    background: url(../img/bgCotacts.png) 100%;
    width: 100%;
    text-align: center;
    color: #ffffff;
    background-attachment: fixed;
}

.titleContacts{
    font-size: 23px;
    font-weight: bold;
    margin-bottom: 45px;
    padding-top: 105px;
}

.pictContacts li{
    text-align: center;
    width: 160px;
    float: left;
}

.descContacts{
    margin-bottom: 54px;
}

.pictContacts ul{
    margin-left: 778px;
}

.titleForm{
    text-align: center;
}

.titleForm h3{
    font-weight: bold;
    margin-bottom: 45px;
}

.BlockNonLeft{
    margin-right: 750px;
}

.titleForm{
    margin-top: 65px;
}

.rewiewForm input{
    height: 30px;
    margin-right: 29px;
    width: 348px;
}

.rewiewForm textarea{
    width: 348px;
    margin-top: 10px;
    margin-bottom: 30px;
}

.titleFormSubmit input{
    height: 42px;
    width: 124px;
    text-align: center;
    border: 2px solid #ffffff;
    background: none;
    border-radius: 5px;
    color: #ffffff;
    font-size: 15px;
    transition: all 0.4s;
}
.titleFormSubmit input:hover{
    background-color: white;
    color: #263244;
}

.titleFormSubmit input:active{
    transform: scale(1.1);
}
.Map{
    width: 100%;
    background: url(../img/MapBG.png);
    height: 330px;
}

.end{
    text-align: center;
    background-color: #354051;
    height: 95px;
    margin-bottom: 42px;
}

.end p{
    padding-top: 42px;
    color: #ffffff;
}

@keyframes comming{
    from{
        opacity: 0;
    }
    
    to{
        opacity: 1;    
    }
}

@keyframes topshift{
    from{
        opacity: 0;
        margin-top: -80px;
    }
    
    to{
        opacity: 1;
        margin-top: 0px;
    }
}

}

.menu li:nth-child(1){
    animation-delay: 0.2s;
}


.menu li:nth-child(2){
    animation-delay: 0.4s;
}

.menu li:nth-child(3){
    animation-delay: 0.9s;
}

.menu li:nth-child(4){
    animation-delay: 1.3s; 
}

.menu li:nth-child(5){
    animation-delay: 1.7s;
}

.menu li:nth-child(6){
    animation-delay: 2.1s;
}

@keyframes titlemove{
    from{
        opacity: 0;
        margin-left: -500px;
    }
    
    to{
        opacity: 1;
        margin-left: 404px;
    }
}


.preloader {
  /*фиксированное позиционирование*/
  position: fixed;
  /* координаты положения */
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  /* фоновый цвет элемента */
  background: #e0e0e0;
  /* размещаем блок над всеми элементами на странице (это значение должно быть больше, чем у любого другого позиционированного элемента на странице) */
  z-index: 1001;
}

/*
.preloader__row {
  position: relative;
  top: 50%;
  left: 50%;
  width: 70px;
  height: 70px;
  margin-top: -35px;
  margin-left: -35px;
  text-align: center;
  animation: preloader-rotate 2s infinite linear;
}

.preloader__item {
  position: absolute;
  display: inline-block;
  top: 0;
  background-color: #337ab7;
  border-radius: 100%;
  width: 35px;
  height: 35px;
  animation: preloader-bounce 2s infinite ease-in-out;
}

.preloader__item:last-child {
  top: auto;
  bottom: 0;
  animation-delay: -1s;
}

@keyframes preloader-rotate {
  100% {
    transform: rotate(360deg);
  }
}

@keyframes preloader-bounce {

  0%,
  100% {
    transform: scale(0);
  }

  50% {
    transform: scale(1);
  }
}

.loaded_hiding .preloader {
  transition: 0.3s opacity;
  opacity: 0;
}

.loaded .preloader {
  display: none;
}
*/
